.serif 
{
    font-family: "Times New Roman", Times, serif;
}

.sansserif 
{
    font-family: Helvetica, Arial, sans-serif;
}

.monospace 
{
    font-family: "Courier New", Courier, monospace;
}

.cursive 
{
    font-family: Florence, cursive;
}

.fantasy 
{
    font-family: Blippo, fantasy;
}